//Page colors
$primary-color-blue: #2B99D4;
  $primary-color-blue-opt-light: #7AC1E7;
  $primary-color-blue-opt-light-hard: #4FABDD;
  $primary-color-blue-opt-hard-light: #0A88CB;
  $primary-color-blue-opt-hard: #056395;
$secondary-color-purple: #3C4BDB;
  $secondary-color-purple-opt-light: #8690EB;
  $secondary-color-purple-opt-light-hard: #5D6AE2;
  $secondary-color-purple-opt-hard-light: #1A2CD3;
  $secondary-color-purple-opt-hard: #0F1DA2;
$tertiary-color-green: #07D466;
  $tertiary-color-green-opt-light: #5AE098;
  $tertiary-color-green-opt-light-hard: #30D97E;
  $tertiary-color-green-opt-hard-light: #00B755;
  $tertiary-color-green-opt-hard: #008C41;
$quaternary-color-orange: #FFA63D;
  $quaternary-color-orange-opt-light: #FFCD91;
  $quaternary-color-orange-opt-light-hard: #FFB863;
  $quaternary-color-orange-opt-hard-light: #FF9414;
  $quaternary-color-orange-opt-hard: #F28300;
//Important colors
$real-white: #FAFAFA;
$main-white: #BBBEC0;
$main-grey-white: #8A9094;
$main-grey-black: #535E64;
$main-black: #3A474E;
$real-black: #090909;
